<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>{{hotelName}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/all-categories/category-details"
      ></ion-back-button>
    </ion-buttons>
    <ion-button (click)="addHotelAsUserFav()" fill="clear" slot="end">
      <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
  <ion-searchbar
    mode="ios"
    placeholder="Search for menu"
    inputmode="text"
    type="decimal"
    (ionChange)="onSearchChange($event)"
    [debounce]="250"
    showCancelButton="always"
  ></ion-searchbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item
      lines="none"
      class="ion-margin-top"
      *ngFor="let menu of dishesWithCartStatus"
    >
      <img crossOrigin="anonymous" class="hotel-thumbnail" [src]="menu._id.image_url" />

      <div class="hotel-item-container">
        <ion-label class="ion-margin-start">
          <p class="title">{{menu._id.dishName}}</p>
          <p class="sub-title">{{menu._id.userPrice | currency:"INR"}}</p>
        </ion-label>
        <div class="ion-margin-start rating-container">
          <p class="rating">{{menu.starCounts.totalCount}}</p>
          <ion-icon color="warning" slot="end" name="star"></ion-icon>
        </div>
       <img *ngIf="menu._id.dishType === 'veg'" class="ion-margin-start" style="height: 14px; width:14px;" src="assets/icons8-veg-48.png" alt="" srcset="">
       <img *ngIf="menu._id.dishType === 'non-veg'" class="ion-margin-start" style="height: 14px; width:14px;" src="assets/icons8-non-veg-48.png" alt="" srcset="">
      </div>
      <ion-chip color="primary" slot="end" mode="ios" outline="true" *ngIf="!menu.isAddedToCart">

        <ion-label>ADD</ion-label>
        <ion-icon (click)="addToCartNew(menu)" name="add-circle"></ion-icon>
      </ion-chip>
      <ion-chip color="primary" slot="end" mode="ios" outline="true" *ngIf="menu.isAddedToCart">

        <ion-label>Clear</ion-label>
        <ion-icon (click)="removeFromCart(menu._id._id)" name="remove-circle"></ion-icon>
      </ion-chip>
    </ion-item>
  </ion-list>

  <!-- <ion-fab slot="fixed" vertical="bottom" horizontal="start">
    <ion-fab-button>
      <ion-label>{{dishesWithCartStatus.length}}</ion-label>
      <ion-icon name="cart-outline"></ion-icon>
    </ion-fab-button>
    
  </ion-fab> -->
</ion-content>
