<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>Hana's Kitchen</ion-title>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/all-categories/category-details"
      ></ion-back-button>
    </ion-buttons>
    <ion-button fill="clear" slot="end">
      <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
  <ion-searchbar
    mode="ios"
    placeholder="Search Hana's Kitchen"
    inputmode="decimal"
    type="decimal"
    (ionChange)="onSearchChange($event)"
    [debounce]="250"
    showCancelButton="always"
  ></ion-searchbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item
      lines="none"
      class="ion-margin-top"
      routerLink="/all-categories/category-detail/hotel-detail"
    >
      <img class="hotel-thumbnail" src="./../../../../assets/hotel.png" />

      <div class="hotel-item-container">
        <ion-label class="ion-margin-start">
          <p class="title">Hot pasta</p>
          <p class="sub-title">{{234 | currency:"INR"}}</p>
        </ion-label>
        <div class="ion-margin-start rating-container">
          <p class="rating">4.8</p>
          <ion-icon color="warning" slot="end" name="star"></ion-icon>
        </div>
        <div class="sort-badge ion-margin-start">
          <p>Freeship</p>
        </div>
      </div>
      <ion-chip color="primary" slot="end" mode="ios" outline="true">
        <ion-icon (click)="removeFromCart()" name="remove-circle"></ion-icon>

        <ion-label>{{totalItems}}</ion-label>
        <ion-icon (click)="addToCart()" name="add-circle"></ion-icon>
      </ion-chip>
    </ion-item>
  </ion-list>
</ion-content>
