<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Favorites
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-text color="primary" class="ion-padding-start">
    <h5>All Restaurants</h5>
  </ion-text>

  <ion-item lines="none" class="ion-margin-top">
    <img class="hotel-thumbnail" src="./../../../../assets/hotel.png" />

    <div class="hotel-item-container">
      <ion-label class="ion-margin-start">
        <p class="title">Bamsu Restaturant</p>
        <p class="sub-title">Fried Chiken</p>
      </ion-label>
      <div class="ion-margin-start rating-container">
        <p class="rating">15 mins. 4.8</p>
        <ion-icon color="warning" slot="end" name="star"></ion-icon>
      </div>
      <div class="sort-badge ion-margin-start">
        <p>Freeship</p>
      </div>
    </div>
   
  </ion-item>


</ion-content>
