<!doctype html>
<html lang="en">
    <head>
        <link
            href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
            rel="stylesheet"
            id="bootstrap-css"
        />
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="icon"
            type="image/svg+xml"
            href="https://lh3.googleusercontent.com/u/0/drive-viewer/AKGpihZnfoK2--ksNYOh9ruFv381E6xvhkHuLW2h-r7n6AmxKXnDxVNlXwu0W8YksabU1gsVvgs4ICPcmHI2ZXtjnAG7EsPa-2FQ6Q=w1920-h911"
        />
        <link
            rel="stylesheet"
            href="https://www.w3schools.com/w3css/4/w3.css"
        />
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
        />
        <title>Reset-password</title>
        <style>
            /* Custom alert style */
            .custom-alert {
                padding: 15px;
                margin-bottom: 20px;
                background-color: #f2dede;
                border: 1px solid #ebccd1;
                border-radius: 4px;
                color: #a94442;
                font-weight: bold;
                text-align: center;
            }
            .btn-reset {
                width: 100%;
                background: #ff4c5a;
                color: white;
                font-weight: 700;
            }
        </style>
    </head>
    <body>
        <div class="form-gap"></div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                            <div class="panel-body">
                                <img
                                    style="text-align: center"
                                    src="https://lh3.googleusercontent.com/u/0/drive-viewer/AKGpihZnfoK2--ksNYOh9ruFv381E6xvhkHuLW2h-r7n6AmxKXnDxVNlXwu0W8YksabU1gsVvgs4ICPcmHI2ZXtjnAG7EsPa-2FQ6Q=w1920-h911"
                                    alt="logo"
                                />
                                <h3 style="text-align: center">
                                    Reset password for <b><%= email %></b>
                                </h3>
                                <form id="resetForm" action="" method="post">
                                    <div class="input-center">
                                        <br>
                                        <label
                                            class="w3-container w3-center"
                                            for="password"
                                            >Password</label
                                        >
                                        <input
                                            type="password"
                                            name="password"
                                            placeholder="Password"
                                            class="w3-input"
                                            id="password"
                                            required
                                        />
                                        <br>
                                        <label
                                            class="w3-container w3-center"
                                            for="password2"
                                            >Confirm Password</label
                                        >
                                        <input
                                            type="password"
                                            name="password2"
                                            placeholder="Confirm Password"
                                            class="w3-input"
                                            id="password2"
                                            required
                                        />
                                        <br />
                                        <br />
                                        <input
                                            type="checkbox"
                                            id="viewPassword"
                                        />
                                        View Password<br />
                                        <br />
                                        <br />
                                        <input
                                            type="submit"
                                            class="btn btn-lg btn-reset"
                                            value="Reset"
                                        />
                                    </div>
                                </form>
                                <div
                                    style="text-align: center; margin-top: 10px"
                                >
                                    <!-- <a href="/login">Back to Login</a> -->
                                </div>
                                <div id="alertContainer"></div>
                                <!-- Container for alert -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                document
                    .getElementById("resetForm")
                    .addEventListener("submit", function (event) {
                        var password =
                            document.getElementById("password").value;
                        var password2 =
                            document.getElementById("password2").value;
                        if (password !== password2) {
                            showAlert("Passwords do not match.");
                            event.preventDefault(); // Prevent form submission
                        }
                    });

                document
                    .getElementById("viewPassword")
                    .addEventListener("change", function () {
                        var passwordInput = document.getElementById("password");
                        var password2Input =
                            document.getElementById("password2");
                        if (this.checked) {
                            passwordInput.type = "text";
                            password2Input.type = "text";
                        } else {
                            passwordInput.type = "password";
                            password2Input.type = "password";
                        }
                    });

                function showAlert(message) {
                    var alertDiv = document.createElement("div");
                    alertDiv.className = "custom-alert";
                    alertDiv.textContent = message;
                    document.getElementById("alertContainer").innerHTML = ""; // Clear previous alert if any
                    document
                        .getElementById("alertContainer")
                        .appendChild(alertDiv);

                    // Remove alert after 3 seconds
                    setTimeout(function () {
                        alertDiv.parentNode.removeChild(alertDiv);
                    }, 3000);
                }
            });
        </script>
    </body>
</html>
