<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>{{categoryName | titlecase}} </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-button id="open-modal" fill="clear" slot="end">
      <ion-icon slot="icon-only" name="filter"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">

    

     
        <ion-searchbar mode="ios" [placeholder]="searchBarPlaceholder" inputmode="text" type="text" (ionInput)="onSearchChange($event)" debounce="150" showCancelButton="always"></ion-searchbar>


    <!-- Hotel Items list -->
    <ion-list class="ion-margin-top">
      <ion-item lines="none" class="ion-margin-top scroll" (click)="openHotelDetailPage(h)" *ngFor="let h of hotels">
        <img crossOrigin ="anonymous" class="hotel-thumbnail" [src]="h?.image_url" />

        <div class="hotel-item-container">
          <ion-label class="ion-margin-start">
            <p class="title">{{h?.hotelName}}</p>
            <p class="sub-title">{{categoryName | titlecase}}</p>
          </ion-label>
          <div class="ion-margin-start rating-container">
            <p class="rating">{{h.ratingData[0]?.star}}</p>
            <ion-icon color="warning" slot="end" name="star"></ion-icon>
          </div>
          <div class="sort-badge ion-margin-start">
            <p>Freeship</p>
          </div>
        </div>
      </ion-item>
      
    </ion-list>
  </div>

  <ion-modal
    #modal
    trigger="open-modal"
    [initialBreakpoint]="0.95"
    [breakpoints]="[0, 0.75, 0.5, 0.95]"
  >
    <ng-template>
      <ion-content>
        <ion-grid>
          <ion-row>
            <ion-col size="10" offset="1">
              <ion-list>
                <ion-list-header>
                  <ion-label>Sort By</ion-label>
                  <ion-button>Reset</ion-button>
                </ion-list-header>
                <div class="chip">
                  <div class="icon-start">
                    <img src="assets/sort-01.svg" alt="" srcset="" />
                  </div>
                  <div class="text">Budget Delivery</div>
                </div>
                <div class="chip">
                  <div class="icon-start">
                    <img src="assets/sort-01.svg" alt="" srcset="" />
                  </div>
                  <div class="text">Budget Delivery</div>
                </div>
                <div class="chip">
                  <div class="icon-start">
                    <img src="assets/sort-01.svg" alt="" srcset="" />
                  </div>
                  <div class="text">Budget Delivery</div>
                </div>
                <div class="chip">
                  <div class="icon-start">
                    <img src="assets/sort-01.svg" alt="" srcset="" />
                  </div>
                  <div class="text">Budget Delivery</div>
                </div>
              </ion-list>

              <ion-list>
                <ion-list-header>
                  <ion-label>Delivery Fee</ion-label>
                </ion-list-header>

                <ion-chip color="primary" mode="ios" outline="true">
                  <ion-label>Free Delivery</ion-label>
                </ion-chip>
                <ion-chip color="primary" mode="ios" outline="true">
                  <ion-label>Upto 30RS</ion-label>
                </ion-chip>
                <ion-chip color="primary" mode="ios" outline="true">
                  <ion-label>Upto 50RS</ion-label>
                </ion-chip>
              </ion-list>

              <ion-list>
                <ion-list-header>
                  <ion-label>Distance</ion-label>
                </ion-list-header>

                <ion-chip color="primary" mode="ios" outline="true">
                  <ion-label>Upto 1 KM</ion-label>
                </ion-chip>
                <ion-chip color="primary" mode="ios" outline="true">
                  <ion-label>Upto 3 KM</ion-label>
                </ion-chip>
                <ion-chip color="primary" mode="ios" outline="true">
                  <ion-label>Upto 5KM</ion-label>
                </ion-chip>
              </ion-list>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
