<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Security-Policy" content="default-src *;
        img-src * 'self' data: https:; script-src 'self' 'unsafe-inline' 'unsafe-eval' *;
        style-src  'self' 'unsafe-inline' *">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="https://lh3.googleusercontent.com/u/0/drive-viewer/AKGpihZnfoK2--ksNYOh9ruFv381E6xvhkHuLW2h-r7n6AmxKXnDxVNlXwu0W8YksabU1gsVvgs4ICPcmHI2ZXtjnAG7EsPa-2FQ6Q=w1920-h911" />
    <title>Forgot-Password</title>
    <style>
        .form-gap {
            height: 40px;
        }
        .text-center {
            text-align: center;
        }
        .panel {
            border: 1px solid #ddd;
            border-radius: 4px;
            box-shadow: 0 1px 1px rgba(0,0,0,0.05);
            margin-bottom: 20px;
        }
        .panel-body {
            padding: 15px;
        }
        .card-body {
            padding: 20px;
        }
        .card-title {
            margin-bottom: 20px;
        }
        .btn-submit {
            width: 40%; /* Adjusted width for better fit */
            margin: 0 auto; /* Centering the button */
            display: block; /* Ensuring it spans the full width */
            background: #FF4C5A;
            color: white;
            font-weight: 700;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            border-radius: 4px;
        }
        .btn-submit:hover {
            background-color: #ff2e3b;
        }
        .footer {
            text-align: center;
            margin-top: 20px;
            font-size: 12px;
            color: #888;
        }
    </style>
</head>
<body>
    <div class="form-gap"></div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <div class="panel-body">
                            <img style="text-align:center;" src="https://lh3.googleusercontent.com/u/0/drive-viewer/AKGpihZnfoK2--ksNYOh9ruFv381E6xvhkHuLW2h-r7n6AmxKXnDxVNlXwu0W8YksabU1gsVvgs4ICPcmHI2ZXtjnAG7EsPa-2FQ6Q=w1920-h911" alt="logo" />
                            <div class="card-body">
                                <h3 class="card-title display-5">Password Reset Request</h3>
                                <div>
                                    You've requested to reset your password. To proceed, click the button below.
                                </div>
                                <div style="text-align: center; margin-top: 20px;">
                                    <a style="text-decoration: none; color: white;" href="<%= url %>" class="btn-submit">Reset Password</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        © All rights reserved - Dropeat
    </div>
</body>
</html>
